In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

from datetime import datetime

In [2]:
# Extract the data set from csv file: 
stock = "resources/all_stocks_5yr.csv"
allstock_df = pd.read_csv(stock)
#rename column for merge
allstock_df=allstock_df.rename(columns={"Name":"Symbol"})
allstock_df.head(10)

         date   open   high    low  close    volume Symbol
0  2013-02-08  15.07  15.12  14.63  14.75   8407500    AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000    AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000    AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500    AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900    AAL
5  2013-02-15  13.93  14.61  13.93  14.50  15628000    AAL
6  2013-02-19  14.33  14.56  14.08  14.26  11354400    AAL
7  2013-02-20  14.17  14.26  13.15  13.33  14725200    AAL
8  2013-02-21  13.62  13.95  12.90  13.37  11922100    AAL
9  2013-02-22  13.57  13.60  13.21  13.57   6071400    AAL

In [3]:
#load helper csv to add name and industry to original dataset
stockname="resources/stocks_list.csv"
stockname_df=pd.read_csv(stockname)
stockname_df=stockname_df[['Symbol','Name','Industry']]
stockname_df.head()

  Symbol                   Name                        Industry
0      A   Agilent Technologies  Life Sciences Tools & Services
1     AA                  Alcoa                 Metals & Mining
2    AAC       Ares Acquisition              Blank Check / SPAC
3   AACG  ATA Creativity Global   Diversified Consumer Services
4   AACI   Armada Acquisition I              Blank Check / SPAC

In [4]:
#merge 2 datasets
merged_df=pd.merge(allstock_df ,stockname_df, how='left', on='Symbol')
merged_df.head()

,date,open,high,low,close,volume,Symbol,Name,Industry
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,American Airlines Group,Airlines
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,American Airlines Group,Airlines
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,American Airlines Group,Airlines
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,American Airlines Group,Airlines
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,American Airlines Group,Airlines

In [5]:
#View all Industry in the orignal dataset to select which industry to focus on
merged_df["Industry"].unique()

array(['Airlines', 'Technology Hardware, Storage & Periph...',
       'Specialty Retail', 'Biotechnology',
       'Health Care Providers & Services',
       'Health Care Equipment & Supplies', 'IT Services', 'Software',
       'Semiconductors & Semiconductor Equipment', 'Food Products',
       'Multi-Utilities', 'Electric Utilities',
       'Independent Power and Renewable Elect...', nan, 'Insurance',
       'Equity Real Estate Investment Trusts ...', 'Chemicals',
       'Building Products', 'Electrical Equipment', 'Capital Markets',
       'Internet & Direct Marketing Retail',
       'Oil, Gas & Consumable Fuels',
       'Electronic Equipment, Instruments & C...', 'Auto Components',
       'Aerospace & Defense', 'Entertainment', 'Containers & Packaging',
       'Water Utilities', 'Consumer Finance',
       'Life Sciences Tools & Services', 'Banks', 'Beverages',
       'Pharmaceuticals', 'Diversified Financial Services', 'Machinery',
       'Hotels, Restaurants & Leisure', 'Health Care Technology',
       'Household Products', 'Air Freight & Logistics', 'Media',
       'Food & Staples Retailing', 'Personal Products',
       'Communications Equipment', 'Road & Rail',
       'Commercial Services & Supplies', 'Multiline Retail',
       'Household Durables', 'Professional Services',
       'Trading Companies & Distributors', 'Interactive Media & Services',
       'Metals & Mining', 'Construction & Engineering',
       'Energy Equipment & Services', 'Automobiles',
       'Industrial Conglomerates', 'Distributors', 'Leisure Products',
       'Textiles, Apparel & Luxury Goods', 'Software-Infrastructure',
       'Diversified Consumer Services', 'Apparel Manufacturing',
       'Construction Materials', 'Blank Check / SPAC', 'Tobacco',
       'Diversified Telecommunication Services', 'Auto Parts'],
      dtype=object)

In [8]:
#Dataframe with Pharmaceutical industries into json file
pharm_df=merged_df.loc[merged_df["Industry"] == "Pharmaceuticals"]
pharm_df

,date,open,high,low,close,volume,Symbol,Name,Industry
88273,2013-02-08,36.50,37.03,36.49,37.03,8462351,BMY,Bristol-Myers Squibb Company,Pharmaceuticals
88274,2013-02-11,36.85,37.08,36.80,36.93,5318733,BMY,Bristol-Myers Squibb Company,Pharmaceuticals
88275,2013-02-12,36.91,36.96,36.52,36.52,6694758,BMY,Bristol-Myers Squibb Company,Pharmaceuticals
88276,2013-02-13,36.49,36.53,36.03,36.12,11953431,BMY,Bristol-Myers Squibb Company,Pharmaceuticals
88277,2013-02-14,36.06,36.70,36.04,36.58,7408473,BMY,Bristol-Myers Squibb Company,Pharmaceuticals
...,...,...,...,...,...,...,...,...,...
619035,2018-02-01,76.84,78.27,76.69,77.82,2982259,ZTS,Zoetis,Pharmaceuticals
619036,2018-02-02,77.53,78.12,76.73,76.78,2595187,ZTS,Zoetis,Pharmaceuticals
619037,2018-02-05,76.64,76.92,73.18,73.83,2962031,ZTS,Zoetis,Pharmaceuticals
619038,2018-02-06,72.74,74.56,72.13,73.27,4924323,ZTS,Zoetis,Pharmaceuticals
619039,2018-02-07,72.70,75.00,72.69,73.86,4534912,ZTS,Zoetis,Pharmaceuticals

In [9]:
# conver Pharmaceutical df to json
pharm_df.to_json(r'jsonfiles/pharmaceuticals.json')

FileNotFoundError: [Errno 2] No such file or directory: 'jsonfiles/pharmaceuticals.json'

In [ ]:
#Dataframe with "Technology Hardware, Storage & Periph..." industries into json file
tech_df=merged_df.loc[merged_df["Industry"] == "Technology Hardware, Storage & Periph..."]
tech_df.to_json(r'jsonfiles/technology.json')

In [ ]:
#Dataframe with Banks industries into json file
banks_df=merged_df.loc[merged_df["Industry"] == "Banks"]
banks_df.to_json(r'jsonfiles/finance.json')

In [ ]:
#Merged Dataframe into json file
merged_df.to_json(r'jsonfiles/stocksdata.json')

In [ ]:
#Export merged csv into resources directory
merged_df.to_csv('resources/mergedstocksdata.csv',index =False)